<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">
    <title th:text="${title}">Frontpage</title>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../public/css/modal_styles.css" th:href="@{/css/modal_styles.css}" rel="stylesheet"/>
</head>

<body>

<div id="page-container">

    <div id="page-content">
        <header th:fragment="header(title)">
            <div>
                <a href="/">
                     <img th:src="@{/images/fantasybattle.jpeg}" src="../public/images/fantasybattle.jpeg" width="80%"/>
                </a>
            </div>
            <h1 th:text="${title}"></h1>
        </header>

        <footer th:fragment="footer" class="footer-container">
            <div class="item footer-item">
                <a href="https://github.com/crstrskp/WarhammerBasesCSG.git">
                    <div class="item-image">
                        <img th:src="@{/images/gitlogo.png}" alt="github link" width="50" height="50"/>
                    </div>
                </a>
            </div>
            <!--            <a th:if="${#ctx.session.currentUser} == null" th:href="@{/createuser}">Create account</a>-->
            <!--            <a th:if="${#ctx.session.currentUser} != null" th:href="@{/logout}">Logout</a>-->
            <a href="/" class="footer-item">Home</a>
            <form action="https://www.paypal.com/donate" method="post" target="_top">
                <input type="hidden" name="business" value="RSFJUUNHGVZPS" />
                <input type="hidden" name="no_recurring" value="0" />
                <input type="hidden" name="currency_code" value="DKK" />
                <input type="image" src="https://www.paypalobjects.com/en_US/DK/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                <img alt="" border="0" src="https://www.paypal.com/en_DK/i/scr/pixel.gif" width="1" height="1" />
            </form>

        </footer>
    </div>
</div>
</body>
</html>
