<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments :: head('tjorne')}"></div>

<body>

<div id="main-container">
    <div id="page-content">
        <div th:replace="~{fragments :: header('Hej Rasmus')}"></div>

        <div id="tabletop_menu">

            <div class="tabletop_item">
                <a href="/movementtrays">
                    <div class="tabletop-item-image">
                        <img th:src="@{/images/movementTray.png}"/>
                    </div>
                    <div class="tabletop_title">
                        Movement Trays
                    </div>
                </a>
            </div>

            <div class="tabletop_item">
                <a href="/warhammerbase">
                    <div class="tabletop-item-image">
                        <img th:src="@{/images/base.png}"/>
                    </div>
                    <div class="lifehack_title">
                        Bases
                    </div>
                </a>
            </div>
        </div>
        <div th:replace="~{fragments :: footer}"></div>
    </div>
</div>
</body>
</html>
