<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="stylesheet" href="/css/modal_styles.css">-->
<!--    <link rel="stylesheet" href="/css/spinner.css">-->
</head>
<body>

<div id="myModal" class="modal">
    <!-- Popup content -->
    <div class="modal-content">
        <span class="close">&times;</span>

        <div class="center-container" id="spinner">
            <p>Your download will start as soon as the file has been generated...</p>
            <div class="dots-bars-4"></div>
        </div>
        <br>
        <div th:replace="~{fragments :: footer}"></div>

    </div>
</div>
</body>
</html>