<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments :: head('tjorne')}"></div>

<body>

<div id="main-container">
  <div id="page-content">
    <div th:replace="~{fragments :: header('warhammer website')}"></div>

    <div id="lifehack_menu">
      <body>
      <h1>Please fill in dimensions</h1>
      <form method="post">
        <div>
          <label for="chamfer_mm">Chamfer (mm): </label>
          <input type="number" id="chamfer_mm" name="chamfer_mm" step="0.1" value="1.5" required>
        </div>
        <div>
          <label for="baseDiameter_mm">Base Diameter (mm): </label>
          <input type="number" id="baseDiameter_mm" name="baseDiameter_mm" step="0.1" value="25" required>
        </div>
        <div>
          <label for="baseHeight_mm">Base Height (mm): </label>
          <input type="number" id="baseHeight_mm" name="baseHeight_mm" step="0.1" value="3.5"  required>
        </div>
        <br>
<!--        <button type="submit">Submit</button>-->
        <button type="submit" id="download" formaction="/downloadBase">Download</button>

<!--        <button type="reset">Reset</button>-->
      </form>
      <br>
      <div th:replace="~{modal :: #myModal}"></div>

      <img src="placeholder_image1.jpg" alt="Image 1">
      <img src="placeholder_image2.jpg" alt="Image 2">
      </body>

    </div>

    <div th:replace="~{fragments :: footer}"></div>
  </div>
</div>
<script src="../js/modal.js"></script>
</body>
</html>