<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments :: head('tjorne')}"></div>

<body>

<div id="page-container">
  <div id="page-content">
    <div th:replace="~{fragments :: header('warhammer website')}"></div>

    <div id="lifehack_menu">

      <div class="lifehack_item">
        <a href="https://github.com/crstrskp/WarhammerBasesCSG.git">
          <div class="lifehack-item-image">
            <img th:src="@{/images/gitlogo.png}" alt="github link" width="50" height="50"/>
          </div>
        </a>
      </div>
      <body>
      <h1>Please fill in dimensions</h1>
      <form>
        <div>
          <label for="chamfer_mm">Chamfer (mm): </label>
          <input type="number" id="chamfer_mm" name="chamfer_mm" step="0.01" required>
        </div>
        <div>
          <label for="baseDiameter_mm">Base Diameter (mm): </label>
          <input type="number" id="baseDiameter_mm" name="baseDiameter_mm" step="0.01" required>
        </div>
        <div>
          <label for="baseHeight_mm">Base Height (mm): </label>
          <input type="number" id="baseHeight_mm" name="baseHeight_mm" step="0.01" required>
        </div>
        <div>
          <label for="borderWidth_mm">Border Width (mm): </label>
          <input type="number" id="borderWidth_mm" name="borderWidth_mm" step="0.01" required>
        </div>
        <div>
          <label for="spacing_mm">Spacing (mm): </label>
          <input type="number" id="spacing_mm" name="spacing_mm" step="0.01" required>
        </div>
        <div>
          <label for="movementTrayHeight_mm">Movement Tray Height (mm): </label>
          <input type="number" id="movementTrayHeight_mm" name="movementTrayHeight_mm" step="0.01" required>
        </div>
        <br>
        <button type="submit">Submit</button>
        <button type="submit" formaction="/downloadFile">Download</button>

        <button type="reset">Reset</button>
      </form>
      <br>
      <img src="placeholder_image1.jpg" alt="Image 1">
      <img src="placeholder_image2.jpg" alt="Image 2">
      </body>
      <!--            <div class="lifehack_item">-->
      <!--                <a href="/menu">-->
      <!--                    <div class="lifehack-item-image">-->
      <!--                        <img th:src="@{/images/gitlogo.png}"/>-->
      <!--                    </div>-->
      <!--                    <div class="lifehack_title">-->
      <!--                        Movie Matcher-->
      <!--                    </div>-->
      <!--                </a>-->
      <!--            </div>-->

      <!--            <div class="lifehack_item">-->
      <!--                <a href="/coffee">-->
      <!--                    <div class="lifehack-item-image">-->
      <!--                        <img th:src="@{/images/coffeemixer.png}"/>-->
      <!--                    </div>-->
      <!--                    <div class="lifehack_title">-->
      <!--                        Coffee Mixer-->
      <!--                    </div>-->
      <!--                </a>-->
      <!--            </div>-->

      <!--            <div class="lifehack_item">-->
      <!--                <a href="/valuta">-->
      <!--                    <div class="lifehack-item-image">-->
      <!--                        <img th:src="@{/images/valuta.png}"/>-->
      <!--                    </div>-->
      <!--                    <div class="lifehack_title">-->
      <!--                        Currency Converter-->
      <!--                    </div>-->
      <!--                </a>-->
      <!--            </div>-->

      <!--            <div class="lifehack_item">-->
      <!--                <a href="/softdrinks">-->
      <!--                    <div class="lifehack-item-image">-->
      <!--                        <img th:src="@{/images/softdrinks.png}"/>-->
      <!--                    </div>-->
      <!--                    <div class="lifehack_title">-->
      <!--                        Softdrink Advisor-->
      <!--                    </div>-->
      <!--                </a>-->
      <!--            </div>-->

      <!--            <div class="lifehack_item">-->
      <!--                <a href="/boderegner">-->
      <!--                    <div class="lifehack-item-image">-->
      <!--                        <img th:src="@{/images/speed.png}"/>-->
      <!--                    </div>-->
      <!--                    <div class="lifehack_title">-->
      <!--                        Speeding Calculator-->
      <!--                    </div>-->
      <!--                </a>-->
      <!--            </div>-->

    </div>

    <div th:replace="~{fragments :: footer}"></div>
  </div>
</div>
</body>
</html>
