<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments :: head('tjorne')}"></div>

<body>

<div id="main-container">
    <div id="page-content">
        <div th:replace="~{fragments :: header('warhammer website')}"></div>

        <div id="lifehack_menu">
            <body>
            <h1>Please fill in dimensions</h1>
            <form method="post">
                <div>
                    <label for="chamfer_mm">Chamfer (mm): </label>
                    <input type="number" id="chamfer_mm" name="chamfer_mm" step="0.1" value="1.5" required>
                </div>
                <div>
                    <label for="baseDiameter_mm">Base Diameter (mm): </label>
                    <input type="number" id="baseDiameter_mm" name="baseDiameter_mm" step="0.1" value="25" required>
                </div>
                <div>
                    <label for="baseHeight_mm">Base Height (mm): </label>
                    <input type="number" id="baseHeight_mm" name="baseHeight_mm" step="0.1" value="3.5" required>
                </div>
                <div>
                    <label for="makeHollow"> Make hollow</label>
                    <input type="checkbox" id="makeHollow" name="makeHollow" value="true">
                </div>
                <div id="hollowParams" style="display: block;">
                    <div>
                        <label for="thickness_mm">Base Thickness: </label>
                        <input type="number" id="thickness_mm" name="thickness_mm" step="0.1" value="1.0">
                    </div>
                </div>
                <br>
                <div>
                    <label for="addHoleForMagnet"> Add hole for magnet</label>
                    <input type="checkbox" id="addHoleForMagnet" name="addHoleForMagnet" value="true">
                </div>
                <div id="magnetParams" style="display: block;">
                    <div>
                        <label for="magnetDiameter_mm">Magnet Diameter (mm): </label>
                        <input type="number" id="magnetDiameter_mm" name="magnetDiameter_mm" step="0.1" value="2.2">
                    </div>
                    <div>
                        <label for="magnetHeight_mm">Magnet Height (mm): </label>
                        <input type="number" id="magnetHeight_mm" name="magnetHeight_mm" step="0.1" value="1">
                    </div>
                </div>
                <br>
                <!--        <button type="submit">Submit</button>-->
                <button type="submit" id="download" formaction="/downloadBase" onclick="startSpinner()">Download</button>

                    <!--        <button type="reset">Reset</button>-->
            </form>
            <br>
            <div th:replace="~{modal :: #myModal}"></div>


            </body>

        </div>

        <div th:replace="~{fragments :: footer}"></div>
    </div>
</div>
<script src="../js/modal.js"></script>
<script src="../js/movementtray.js"></script>
<script src="../js/spinnerStopper.js"></script>

</body>
</html>